<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\ap_vn05672\python38\python.exe|c:\users\ap_vn05672\python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="SAMEORIGIN" />
    </customHeaders>
  </httpProtocol>
        <rewrite>
            <rules>
                <rule name="https_redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>

	</system.webServer>

	<appSettings>
		<!-- Required Settings -->
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\QAgile" />

		<!-- Optional Settings -->
		<add key="DJANGO_SETTINGS_MODULE" value="QAgile.settings" />
		<add key="WSGI_LOG" value="C:\inetpub\wwwroot\QAgile\wfastcgi.log" />
	</appSettings>
</configuration>