{% extends 'base.html' %}



{% block content %}
    <style>

        /* Style the header */
        .headernav {
          padding: 10px 16px;
          background: #555;
          color: #f1f1f1;
        }

        /* Page content */
        .contentnav {
          padding: 16px;
        }

        /* The sticky class is added to the header with JS when it reaches its scroll position */
        .sticky {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%
        }

        .sticky2 {
          position: fixed;
          top: 0;
          left: 0;
          z-index:99;
          width: 100%;
          display:none;
        }

        /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
        .sticky + .contentnav {
          padding-top: 102px;
        }

        .table-fixed thead {
          width: 97%;
        }
        .table-fixed tbody {
          height: 230px;
          overflow-y: auto;
          overflow-x: auto;
          width: 100%;
        }
        .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
          display: block;
        }
        .table-fixed tbody td, .table-fixed thead > tr> th {
          float: left;
          border-bottom-width: 0;
        }



    </style>


    <div class="headernav" id="myHeader">
        <div class="row text-center">
            <span class="col-md-2"> <a href="#team"> Team </a></span>
            <span class="col-md-2"> <a href="#domains"> Domains </a></span>
            <span class="col-md-2"> <a href="#roles"> Roles </a></span>
            <span class="col-md-2"> <a href="#locations"> Locations </a></span>
            <span class="col-md-2"> <a href="#rates"> Rates </a></span>
            <span class="col-md-2">  </span>
        </div>
    </div>

    <div class="contentnav overflow-auto">
        <h3 id="team">QA CoE Team</h3>
        <table id="teamtable" class="display">
            <thead>
            <tr>
                <th>VNID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Domain</th>
                <th>Category</th>
                <th>Rate</th>
                <th>Role</th>
                <th>Location</th>
                <th>Email</th>
                 <th>Phone</th>
            </tr>
            </thead>
            <tbody>
        {% for row in teamdata %}
            <tr>
                <td>{{row.vnid}}</td>
                <td>{{row.first_name}}</td>
                <td>{{row.last_name}}</td>
                <td>
                    {%if row.domain_name %}{{row.domain_name}}{% endif %}
                </td>
                <td>{{row.category}}</td>
                <td>{{row.rate}}</td>
                <td>{{row.role}}</td>
                <td>{{row.city}}</td>
                <td>{{row.email}}</td>
                <td>{{row.phone}}</td>
            </tr>
        {% endfor   %}
         </tbody>
        </table>

        <h3 id="domains"> QA CoE Domains</h3>
        {% for row in domains %}
            {{row}} <br>
        {% endfor   %}

        <h3 id="roles">QA CoE Roles</h3>
        {% for row in roles %}
            {{row}} <br>
        {% endfor   %}

        <h3 id="locations">QA CoE Locations</h3>
        {% for row in locations %}
            {{row}} <br>
        {% endfor   %}

        <h3 id="rates">QA CoE Rates</h3>
        {% for row in rates %}
            {{row}} <br>
        {% endfor   %}
    </div>

    <div class="sticky2" onclick='$(".DTED_Lightbox_Wrapper").hide();$(".sticky2").hide();'>
        X
    </div>

     <script>
        // When the user scrolls the page, execute myFunction
        window.onscroll = function() {myFunction()};

        // Get the header
        var header = document.getElementById("myHeader");

        // Get the offset position of the navbar
        var sticky = header.offsetTop;

        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            var header = document.getElementById("myHeader");
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
     </script>

    <!--- Datatable script--->
    <script>
    /*
        var editor;
        $(document).ready(function() {
             editor = new $.fn.dataTable.Editor( {
                table: "#teamtable",
                idSrc:  'VNID',
                fields: [
                    {
                        label: "VNID:",
                        name: "VNID"
                    },
                    {
                        label: "First Name:",
                        name: "first_name"
                    },
                    {
                        label: "First Name:",
                        name: "last_name"
                    },
                    {
                        label: "Domain",
                        name: "domain",
                        type:  "select",
                        options: [
                            {% for row in domains %}
                               { name: "{{row.domain_name}}", id: "{{row.domain_name}}" },
                            {% endfor   %}
                            { label: "Not Assigned", value: 0 },
                        ],
                        optionsPair: {
                            label: 'name',
                            value: 'id'
                        },
                        placeholder:'Select Domain to assign'
                    },
                    {
                        label: "Category",
                        name: "category",
                        type:  "select",
                        options: [
                            { name: "Flex", id: "Flex" },
                            { name: "Core",    id: "Core" }
                        ],
                        optionsPair: {
                            label: 'name',
                            value: 'id'
                        },
                        placeholder:'Select Domain to assign'
                    },
                    {
                        label: "Rate:",
                        name: "rate"
                    },
                    {
                        label: "Role:",
                        name: "role"
                    },
                    {
                        label: "Location:",
                        name: "location"
                    },
                    {
                        label: "Email:",
                        name: "email"
                    },
                    {
                        label: "Phone:",
                        name: "phone"
                    }
                ]
            } );

            $('#teamtable').on( 'click', 'tbody td:not(:first-child)', function (e) {
                editor.inline( this, {
                 onBlur: 'submit'
                }  );
            } );



            editor.on( 'open',  function (e) {
                $(".DTED_Lightbox_Wrapper").css({position: 'fixed',top:20,width:'100%','background-color':'white'});
                $(".DTED_Lightbox_Wrapper").show("fast");
                $(".DTE_Footer").show();
                $(".sticky2").show();

            } );


            editor.on( 'postEdit', function (e,j,d,id) {
                    console.log(id);
                    $.ajax({
                    url: "./updatePerson/",
                    type: "POST",

                    headers: {'X-CSRFToken': csrftoken},
                    success: function(result,status,xhr){
                        console.log("success: "+JSON.stringify(result));
                        $('#teamtable').DataTable().draw();
                    },
                    error: function(xhr,status,error){
                        console.log("Sorry there was an error: " + error + " status code: " + status);
                    },
                    complete: function(a,b,c){
                        console.log("postSubmit");
                        console.log(JSON.stringify(editor.val()));
                    }
                });
            } );
     */
            $('#teamtable').DataTable({
                paging: false,
                scrollY: 400,
                fixedHeader: false,
                "sScrollX": "100%",
                "bScrollCollapse": true,
                dom: 'Bfrtip',
                order: [[1, 'asc']],
                select: {
                    style:    'os',
                    selector: 'td:first-child'
                },
                columns: [
                    { data: 'VNID' },
                    { data: 'first_name' },
                    { data: 'last_name' },
                    { data: 'domain' },
                    { data: 'category' },
                    { data: 'rate' },
                    { data: 'role' },
                    { data: 'location' },
                    { data: 'email' },
                    { data: 'phone' }
                ],

                buttons: [
                    { extend: 'create', editor: editor },
                    { extend: 'remove', editor: editor }
                ]
            });

        } );
    </script>


    <!-- MDB --->
    <script type="text/javascript">


    </script>
{% endblock %}