{% extends 'headmenu.html' %}

{% block rfs_content %}


    <style>
        .notebook_text{
            width: 100%;
            border-top-style: hidden;
          border-right-style: hidden;
          border-left-style: hidden;
          border-bottom-style: groove;
          //background: rgba(0,0,0,0.5);
        }
    </style>

    <br>
    <h5></h5>
    <form name="initRFS" id="initRFS" action="./" method="post">
        {% csrf_token %}
        <input type="hidden" value="" name="rfs_status" id="rfs_status">
        <input type="hidden" value="" name="rfs_status_comment" id="rfs_status_comment">
        <input type="hidden" name="rfs_request_id" value="{{rfs_request_data.link}}">
    <div class="contentnav overflow-auto">

        <div id="byRequester" >
            <div class="card">
                <div class="card-header" style="background-color:rgba(227, 199, 88, 0.21)" id="brheading">
                    <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#brform" aria-expanded="false" aria-controls="brform">
                      To Be Filled By Requester/PM (Project Team)
                    </button>

                    </h5>
                </div>

                <div id="brform" class="collapse show" aria-labelledby="brheading" data-parent="#byRequester">
                    <div class="card-body">

                        <div id="projectInfo">
                            <div class="card">
                                <div class="card-header" id="piheading">
                                    <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#piform" aria-expanded="true" aria-controls="piform">
                                      Project Information
                                    </button>
                                    </h5>
                                </div>

                                <div id="piform" class="collapse show" aria-labelledby="piheading" data-parent="#projectInfo">
                                    <div class="card-body">
                                        <table class="rfstables">
                                            <tr>
                                                <td>PowerSteering Sequence number (PPM Id)</td>
                                                <td><input type="text" name="project_id" maxlength="15" value="{{rfs_request_data.project_id|default_if_none:''}}" required></td>
                                            </tr>
                                            <tr>
                                                <td>Project Name</td>
                                                <td><input type="text" name="project_name" maxlength="45" value="{{rfs_request_data.project_name|default_if_none:''}}" required></td>
                                            </tr>
                                            <tr>
                                                <td>Capital or Expense</td>
                                                <td>
                                                    <select name="category">
                                                        <option value="">Select Category</option>
                                                        <option value="Capital" {% if rfs_request_data.category == 'Capital' %} selected="selected" {% endif %} >Capital</option>
                                                        <option value="Expense" {% if rfs_request_data.category == 'Expense' %} selected="selected" {% endif %} >Expense</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Project Repository Link</td>
                                                <td><input type="text" name="repository" value="{{rfs_request_data.repository|default_if_none:''}}"></td>
                                            </tr>
                                            <tr>
                                                <td>Project Type</td>
                                                <td>
                                                    <select name="project_type">
                                                        <option value="">Select Project Type</option>
                                                        <option value="Project" {% if rfs_request_data.project_type == 'Project' %} selected="selected" {% endif %}>Project</option>
                                                        <option value="AMS" {% if rfs_request_data.project_type == 'AMS' %} selected="selected" {% endif %}>AMS</option>
                                                        <option value="Prod Issue" {% if rfs_request_data.project_type == 'Prod Issue' %} selected="selected" {% endif %}>Prod Issue</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Project Size</td>
                                                <td>
                                                    <select name="project_size">
                                                        <option value="">Select Project Size</option>
                                                        <option value="A" {% if rfs_request_data.project_size == 'A' %} selected="selected" {% endif %}>A - Very Large</option>
                                                        <option value="B" {% if rfs_request_data.project_size == 'B' %} selected="selected" {% endif %}>B - Large</option>
                                                        <option value="C" {% if rfs_request_data.project_size == 'C' %} selected="selected" {% endif %}>C - Medium</option>
                                                        <option value="D" {% if rfs_request_data.project_size == 'D' %} selected="selected" {% endif %}>D - Small</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Current Project Phase</td>
                                                <td>
                                                     <select name="current_project_status">
                                                        <option value="">Select Project Phase</option>
                                                        <option value="Preparation Phase" {% if rfs_request_data.current_project_status == 'Preparation Phase' %} selected="selected" {% endif %}>Preparation Phase</option>
                                                        <option value="Planning Phase" {% if rfs_request_data.current_project_status == 'Planning Phase' %} selected="selected" {% endif %}>Planning Phase</option>
                                                        <option value="Execution Phase" {% if rfs_request_data.current_project_status == 'Execution Phase' %} selected="selected" {% endif %}>Execution Phase</option>
                                                        <option value="Closing Phase" {% if rfs_request_data.current_project_status == 'Closing Phase' %} selected="selected" {% endif %}>Closing Phase</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Is Solution Risk Assessment completed</td>
                                                <td>
                                                     <select name="is_sra_completed">
                                                        <option value="" ></option>
                                                        <option value="Yes" {% if rfs_request_data.is_sra_completed == 'Yes' %} selected="selected" {% endif %}>Yes</option>
                                                        <option value="No" {% if rfs_request_data.is_sra_completed == 'No' %} selected="selected" {% endif %}>No</option>
                                                        <option value="NA" {% if rfs_request_data.is_sra_completed == 'NA' %} selected="selected" {% endif %}>NA</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="requesterInfo">
                            <div class="card">
                                <div class="card-header" id="riheading">
                                    <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#riform" aria-expanded="false" aria-controls="riform">
                                      Requester Information
                                    </button>
                                    </h5>
                                </div>

                                <div id="riform" class="collapse show" aria-labelledby="riheading" data-parent="#requesterInfo">
                                    <div class="card-body">
                                        <table class="rfstables">
                                            <tr>
                                                <td>Requestor Name</td>
                                                <td><input type="text" name="requester_name" maxlength="45" value="{{rfs_request_data.requester_name|default_if_none:''}}" required></td>
                                            </tr>
                                            <tr>
                                                <td>Requestor Email</td>
                                                <td><input type="text" name="requester_email" maxlength="200" value="{{rfs_request_data.requester_email|default_if_none:''}}" required></td>
                                            </tr>
                                            <tr>
                                                <td>Requestor Role</td>
                                                <td><input type="text" name="requester_role" maxlength="45" value="{{rfs_request_data.requester_role|default_if_none:''}}"></td>
                                            </tr>
                                            <tr>
                                                <td>Project Manager </td>
                                                <td><input type="text" name="pm" maxlength="45" value="{{rfs_request_data.pm|default_if_none:''}}"><div> Same as requester <input type="checkbox" value="" onclick="sameas(this,'pm');"></div></td>
                                            </tr>
                                            <tr>
                                                <td>Director - IT Solutions Development & Engagement QA CoE</td>
                                                <td><input type="text" name="dir_it" maxlength="45" value="{{rfs_request_data.dir_it|default_if_none:''}}"></td>
                                            </tr>
                                            <tr>
                                                <td>Project Point of Contact (SPOC for queries/concerns from QA CoE)</td>
                                                <td><input type="text" name="project_poc" maxlength="45" value="{{rfs_request_data.project_poc|default_if_none:''}}"><div> Same as requester <input type="checkbox" onclick="sameas(this,'project_poc');"></div></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="datesInfo">
                            <div class="card">
                                <div class="card-header" id="tdheading">
                                    <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tdform" aria-expanded="false" aria-controls="tdform">
                                      Tentative Planning Dates
                                    </button>
                                    </h5>
                                </div>

                                <div id="tdform" class="collapse show" aria-labelledby="tdheading" data-parent="#datesInfo">
                                    <div class="card-body">
                                        <table class="rfstables">
                                            <tr>
                                                <td>Tentative Dates</td>
                                                <td>Start Date</td>
                                                <td>End Date</td>
                                            </tr>
                                            <tr>
                                                <td>Preparation Phase</td>
                                                <td><input type="date" name="tentative_prep_start" value="{{ rfs_request_data.tentative_prep_start|date:'Y-m-d' }}"></td>
                                                <td><input type="date" placeholder="" name="tentative_prep_end" value="{{ rfs_request_data.tentative_prep_end|date:'Y-m-d' }}"></td>
                                            </tr>
                                            <tr>
                                                <td>Planning Phase</td>
                                                <td><input type="date" name="tentative_plan_start" value="{{ rfs_request_data.tentative_plan_start|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="tentative_plan_end" value="{{ rfs_request_data.tentative_plan_end|date:'Y-m-d' }}"></td>
                                            </tr>
                                            <tr>
                                                <td>Execution Phase</td>
                                                <td><input type="date" name="tentative_exec_start" value="{{ rfs_request_data.tentative_exec_start|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="tentative_exec_end" value="{{ rfs_request_data.tentative_exec_end|date:'Y-m-d' }}"></td>
                                            </tr>
                                            <tr>
                                                <td>Closing Phase</td>
                                                <td><input type="date" name="tentative_close_start" value="{{ rfs_request_data.tentative_close_start|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="tentative_close_end" value="{{ rfs_request_data.tentative_close_end|date:'Y-m-d' }}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="confInfo">
                            <div class="card">
                                <div class="card-header" id="coheading">
                                    <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#coform" aria-expanded="false" aria-controls="coform">
                                      Confidential Project / Personal Identifiable or Business Sensitive Information
                                    </button>
                                    </h5>
                                </div>

                                <div id="coform" class="collapse show" aria-labelledby="coheading" data-parent="#confInfo">
                                    <div class="card-body">
                                        <table class="rfstables">
                                            <tr>
                                                <td>Confidential:</td>
                                                <td>
                                                    <select name="confidential">
                                                        <option value="">Select Y/N</option>
                                                        <option value="Y" {% if rfs_request_data.confidential == 'Y' %} selected="selected" {% endif %}>Yes</option>
                                                        <option value="N" {% if rfs_request_data.confidential == 'N' %} selected="selected" {% endif %}>No</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">If above answer is Yes , provide the following</td>
                                            </tr>
                                            <tr>
                                                <td>Alternate Name of Confidential Project:</td>
                                                <td><input type="text" maxlength="45" name="confidential_alt_name" value="{{rfs_request_data.confidential_alt_name|default_if_none:''}}"></td>
                                            </tr>
                                            <tr>
                                                <td>Document sharing methods:</td>
                                                <td><input type="text" maxlength="45" name="confidential_doc_share_method" value="{{rfs_request_data.confidential_doc_share_method|default_if_none:''}}"></td>
                                            </tr>
                                            <tr>
                                                <td>PII or BSI :(Yes/No)*</td>
                                                <td>
                                                    <select name="pii_bsi">
                                                        <option value="">Select Y/N</option>
                                                        <option value="Y" {% if rfs_request_data.pii_bsi == 'Y' %} selected="selected" {% endif %} >Yes</option>
                                                        <option value="N" {% if rfs_request_data.pii_bsi == 'N' %} selected="selected" {% endif %}>No</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>If Yes Describe</td>
                                                <td><input type="text" name="pii_bsi_description" value="{{rfs_request_data.pii_bsi_description|default_if_none:''}}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="scopeInfo">
                            <div class="card">
                                <div class="card-header" id="scheading">
                                    <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#scform" aria-expanded="false" aria-controls="scform">
                                      Project Scope - Application(s) Impacted
                                    </button>
                                    </h5>
                                </div>

                                <div id="scform" class="collapse show" aria-labelledby="scheading" data-parent="#scopeInfo">
                                    <div class="card-body">
                                        <table class="rfstables">
                                            <tr>
                                                <td>Can application(s) be tested remotely?*</td>
                                                <td>
                                                    <select name="scope_remote">
                                                        <option value=""> </option>
                                                        <option value="Y" {% if rfs_request_data.scope_remote == 'Y' %} selected="selected" {% endif %}>Yes</option>
                                                        <option value="N" {% if rfs_request_data.scope_remote == 'N' %} selected="selected" {% endif %}>No</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Production Ticket / Service Now/Change Ticket Number ( If in scope)</td>
                                                <td><input type="text" name="scope_ticket_num" maxlength="45" value="{{rfs_request_data.scope_ticket_num|default_if_none:''}}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!--- requester end --->

        <div id="byCoE" >
            <div class="card">
                <div class="card-header" style="background-color:rgba(23, 23, 23, 0.11)" id="bycheading">
                    <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#bycform" aria-expanded="false" aria-controls="bycform">
                      To Be Filled By QA CoE
                    </button>
                    </h5>
                </div>

                <div id="bycform" class="collapse" aria-labelledby="bycheading" data-parent="#byCoE">
                    <div class="card-body">

                        <div id="projectInfoCoE">
                            <div class="card">
                                <div class="card-header" id="picoeheading">
                                    <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#picoeform" aria-expanded="true" aria-controls="picoeform">
                                      Project Information
                                    </button>
                                    </h5>
                                </div>

                                <div id="picoeform" class="collapse show" aria-labelledby="picoeheading" data-parent="#projectInfoCoE">
                                    <div class="card-body">
                                        <table class="rfstables">
                                            <tr>
                                                <td>Select Domain</td>
                                                <td>
                                                     <select id="domainselect" name="domain_id" class="selectpicker" data-live-search="true" onchange="domain_change(this);">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}">{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Kick Off Engagement Meeting Date</td>
                                                <td><input type="date" name="kickoff_date" value="{{ rfs_request_data.kickoff_date|date:'Y-m-d' }}"></td>
                                            </tr>
                                            <tr>
                                                <td>Access Provided to repository?</td>
                                                <td>
                                                    <select name="repository_access">
                                                        <option value="">Select Category</option>
                                                        <option value="Y" {% if rfs_request_data.repository_access == 'Y' %} selected="selected" {% endif %}>Yes</option>
                                                        <option value="N" {% if rfs_request_data.repository_access == 'N' %} selected="selected" {% endif %}>No</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>HP ALM and/or JIRA Link</td>
                                                <td><input type="text" name="alm_jira_link" value="{{rfs_request_data.alm_jira_link|default_if_none:''}}"></td>
                                            </tr>
                                            <!--<tr>
                                                <td>Resources that need access to Project Site</td>
                                                <td><input type="text" name="repository"></td>
                                            </tr>--->
                                            <tr>
                                                <td>Project Description (Provide any additional detail which is important to know)</td>
                                                <td><textarea  name="project_description">{{rfs_request_data.project_description|default_if_none:''}}</textarea></td>
                                            </tr>
                                            <tr>
                                                <td>QA CoE Assigned ( enter  QA CoE Lead Name)</td>
                                                <td>
                                                     <select id="leadselect" name="qa_coe_lead" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in persons %}
                                                            <option value="{{row_d.vnid}}">{{row_d.first_name}} {{row_d.last_name }} - {{ row_d.vnid}}</option>
                                                        {% endfor   %}
                                                    </select>
                                                    <div id="lead_msg" style="display:none;font-size:x-small; color: red">

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>QA Portfolio Manager</td>
                                                <td>
                                                     <select name="PoM" id="pomselect" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in poms %}
                                                            <option value="{{row_d.vnid}}">{{row_d.first_name}} {{row_d.last_name }} - {{ row_d.vnid}}</option>
                                                        {% endfor   %}
                                                    </select>
                                                    <div id="pom_msg" style="display:none;font-size:x-small; color: red">

                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="scopeofservice">
                            <div class="card">
                                <div class="card-header" id="sosheading">
                                    <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#sosform" aria-expanded="false" aria-controls="sosform">
                                      Scope of Service
                                    </button>
                                    </h5>
                                </div>

                                <div id="sosform" class="collapse show" aria-labelledby="sosheading" data-parent="#scopeofservice">
                                    <div class="card-body">
                                        <table class="rbstable">
                                            <tr>
                                                <th>SERVICES/ OFFERINGS</th>
                                                <th>Include</th>
                                                <th>Planned Start Date</th>
                                                <th>Planned End Date</th>
                                                <th>Comments</th>
                                            </tr>

                                            <tr>
                                                <td>SIT (includes E2E)<input type="hidden" name="1_service" value="SIT (includes E2E)"> </td>
                                                <td><input type="checkbox" name="1_include" {% if rfs_request_scope_data_1.include == 1 %} checked {% endif %}> </td>
                                                <td><input type="date" name="1_startdt" value="{{ rfs_request_scope_data_1.startdate|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="1_enddt" value="{{ rfs_request_scope_data_1.enddate|date:'Y-m-d' }}"></td>
                                                <td><input type="text" maxlength="45" name="1_comment" value="{{ rfs_request_scope_data_1.comment|default_if_none:'' }}"></td>
                                            </tr>

                                             <tr>
                                                <td>UAT Support<input type="hidden" name="2_service" value="UAT Support"> </td>
                                                <td><input type="checkbox" name="2_include" {% if rfs_request_scope_data_2.include == 1 %} checked {% endif %}> </td>
                                                <td><input type="date" name="2_startdt" value="{{ rfs_request_scope_data_2.startdate|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="2_enddt" value="{{ rfs_request_scope_data_2.enddate|date:'Y-m-d' }}"></td>
                                                <td><input type="text" maxlength="45" name="2_comment" value="{{ rfs_request_scope_data_2.comment|default_if_none:'' }}"></td>
                                            </tr>

                                             <tr>
                                                <td>Regression Tests Execution<input type="hidden" name="3_service" value="Regression Tests Execution"> </td>
                                                <td><input type="checkbox" name="3_include" {% if rfs_request_scope_data_3.include == 1 %} checked {% endif %}> </td>
                                                <td><input type="date" name="3_startdt" value="{{ rfs_request_scope_data_3.startdate|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="3_enddt" value="{{ rfs_request_scope_data_3.enddate|date:'Y-m-d' }}"></td>
                                                <td><input type="text" maxlength="45" name="3_comment" value="{{ rfs_request_scope_data_3.comment|default_if_none:'' }}"></td>
                                            </tr>

                                             <tr>
                                                <td>Automation<input type="hidden" name="4_service" value="Automation"> </td>
                                                <td><input type="checkbox" name="4_include" {% if rfs_request_scope_data_4.include == 1 %} checked {% endif %}> </td>
                                                <td><input type="date" name="4_startdt" value="{{ rfs_request_scope_data_4.startdate|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="4_enddt" value="{{ rfs_request_scope_data_4.enddate|date:'Y-m-d' }}"></td>
                                                <td><input type="text" maxlength="45" name="4_comment" value="{{ rfs_request_scope_data_4.comment|default_if_none:'' }}"></td>
                                            </tr>

                                             <tr>
                                                <td>Performance Test<input type="hidden" name="5_service" value="Performance Test"> </td>
                                                <td><input type="checkbox" name="5_include" {% if rfs_request_scope_data_5.include == 1 %} checked {% endif %}> </td>
                                                <td><input type="date" name="5_startdt" value="{{ rfs_request_scope_data_5.startdate|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="5_enddt" value="{{ rfs_request_scope_data_5.enddate|date:'Y-m-d' }}"></td>
                                                <td><input type="text" maxlength="45" name="5_comment" value="{{ rfs_request_scope_data_5.comment|default_if_none:'' }}"></td>
                                            </tr>

                                             <tr>
                                                <td>Security<input type="hidden" name="6_service" value="Security"> </td>
                                                <td><input type="checkbox" name="6_include" {% if rfs_request_scope_data_6.include == 1 %} checked {% endif %}> </td>
                                                <td><input type="date" name="6_startdt" value="{{ rfs_request_scope_data_6.startdate|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="6_enddt" value="{{ rfs_request_scope_data_6.enddate|date:'Y-m-d' }}"></td>
                                                <td><input type="text" maxlength="45" name="6_comment" value="{{ rfs_request_scope_data_6.comment|default_if_none:'' }}"></td>
                                            </tr>

                                             <tr style="display:none">
                                                <td>IGNITE Quality Platform<input type="hidden" name="7_service" value="IGNITE Quality Platform"> </td>
                                                <td><input type="checkbox" name="7_include" {% if rfs_request_scope_data_7.include == 1 %} checked {% endif %}> </td>
                                                <td><input type="date" name="7_startdt" value="{{ rfs_request_scope_data_7.startdate|date:'Y-m-d' }}"></td>
                                                <td><input type="date" name="7_enddt" value="{{ rfs_request_scope_data_7.enddate|date:'Y-m-d' }}"></td>
                                                <td><input type="text" maxlength="45" name="7_comment" value="{{ rfs_request_scope_data_7.comment|default_if_none:'' }}"></td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="assumptions_dependencies">
                            <div class="card">
                                <div class="card-header" id="sosheading">
                                    <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#adform" aria-expanded="false" aria-controls="adform">
                                      Assumption-Dependency
                                    </button>
                                    </h5>
                                </div>

                                <div id="adform" class="collapse show" aria-labelledby="adheading" data-parent="#assumptions_dependencies">
                                    <div class="card-body">
                                        <table class="rbstable">
                                            <tr><th colspan="3" style="text-align:center">Assumptions</th> </tr>
                                            <tr>
                                                <th>#</th>
                                                <th>Project Related Assumptions</th>
                                                <th>Project Domain Name</th>
                                            </tr>

                                            <tr>
                                                <td>1</td>
                                                <td><input class="notebook_text" name="assumption_1" type="text" value="{{rfs_request_ad_data.0.val|default_if_none:''}}"></td>
                                                <td><select name="assumption_domain_1" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.0.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><input class="notebook_text" name="assumption_2" type="text" value="{{rfs_request_ad_data.1.val|default_if_none:''}}"></td>
                                                <td><select name="assumption_domain_2" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.1.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td><input class="notebook_text" name="assumption_3" type="text" value="{{rfs_request_ad_data.2.val|default_if_none:''}}"></td>
                                                <td><select name="assumption_domain_3" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.2.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td><input class="notebook_text" name="assumption_4" type="text" value="{{rfs_request_ad_data.3.val|default_if_none:''}}"></td>
                                                <td><select name="assumption_domain_4" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.3.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td><input class="notebook_text" name="assumption_5" type="text" value="{{rfs_request_ad_data.4.val|default_if_none:''}}"></td>
                                                <td><select name="assumption_domain_5" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.4.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr><th colspan="3" style="background-color:white"></th> </tr>
                                            <tr><th colspan="3" style="text-align:center">Dependency / Risks</th> </tr>

                                            <tr>
                                                <td>1</td>
                                                <td><input class="notebook_text" name="dependency_1" type="text" value="{{rfs_request_ad_data.5.val|default_if_none:''}}"></td>
                                                <td><select name="dependency_domain_1" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.5.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><input class="notebook_text" name="dependency_2" type="text" value="{{rfs_request_ad_data.6.val|default_if_none:''}}"></td>
                                                <td><select name="dependency_domain_2" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.6.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td><input class="notebook_text" name="dependency_3" type="text" value="{{rfs_request_ad_data.7.val|default_if_none:''}}"></td>
                                                <td><select name="dependency_domain_3" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.7.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td><input class="notebook_text" name="dependency_4" type="text" value="{{rfs_request_ad_data.8.val|default_if_none:''}}"></td>
                                                <td><select name="dependency_domain_4" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.8.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td><input class="notebook_text" name="dependency_5" type="text" value="{{rfs_request_ad_data.9.val|default_if_none:''}}"></td>
                                                <td><select name="dependency_domain_5" class="selectpicker" data-live-search="true">
                                                         <option value=""> </option>
                                                        {% for row_d in domains_info %}
                                                            <option value="{{row_d.domain_id}}" {% if row_d.domain_id == rfs_request_ad_data.9.domain_id %} selected {% endif %} >{{row_d.domain_name}}</option>
                                                        {% endfor   %}
                                                    </select></td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!--- by CoE end --->

    </div> <!--- top div end --->

    </form>

<!--- Datatable script--->
    <script>

        domains_info = []

        {% for row in domains_info %}
            d = {
                'domain_id' : '{{row.domain_id}}',
                'pom_vnid' : '{{row.pom_vnid}}',
                'dl_vnid' : '{{row.dl_vnid}}'
            }
            domains_info.push(d);
        {% endfor %}


        function sameas(src,target) {
            if(src.checked){
                $('input[name$="'+target+'"]').val($('input[name$="requester_name"]').val());
                }
             else {
                $('input[name$="'+target+'"]').val('')
             }
        }

        $(document).ready(function() {
            $('.select').selectpicker();

            $('#domainselect').selectpicker('val', '{{rfs_request_data.domain_id}}' );

             {% for row in persons %}
                {% if row.vnid == rfs_request_data.qa_coe_lead %}
                    $('#leadselect').selectpicker('val', ['{{row.vnid}}']);
                    document.getElementById("lead_msg").innerHTML = '';
                    $("#lead_msg").hide();
                {% endif %}
             {% endfor %}



             {% for row in poms %}
                {% if row.vnid == rfs_request_data.PoM%}
                    $('#pomselect').selectpicker('val', ['{{row.vnid}}']);
                    document.getElementById("pom_msg").innerHTML  = '';
                    $("#pom_msg").hide();
                {% endif %}
             {% endfor %}

             formChanged = false;

        } );

        function domain_change(obj){
            data = get_domain_by_id($("#domainselect").val());
            $('#leadselect').selectpicker('val', data.dl_vnid);
            $('#pomselect').selectpicker('val', data.pom_vnid);
        }

        function get_domain_by_id(domain_id){
            /* ensure availability of global const domains_info */
            var ret = [];
            $("#lead_msg").hide();
            $("#pom_msg").hide();

            for(i=0; i < domains_info.length; i++){
                if(domains_info[i].domain_id == domain_id){
                    ret = domains_info[i];
                    document.getElementById("lead_msg").innerHTML = '';
                    document.getElementById("pom_msg").innerHTML  = '';
                    if(ret.dl_vnid.split(",").length > 1)
                    {
                        document.getElementById("lead_msg").innerHTML = 'More than one leads in system. Please select one.';
                        $("#lead_msg").show();
                    }
                    if(ret.pom_vnid.split(",").length > 1)
                    {
                        document.getElementById("pom_msg").innerHTML  = 'More than one PoM in system. Please select one.';
                        $("#pom_msg").show();
                    }
                    if(ret.dl_vnid == "None")
                    {
                        document.getElementById("lead_msg").innerHTML = 'No leads in system. Please select one.';
                        $("#lead_msg").show();
                    }
                    if(ret.pom_vnid == "None")
                    {
                        document.getElementById("pom_msg").innerHTML  = 'No Pom in system. Please select one.';
                        $("#pom_msg").show();
                    }
                    break;
                }
            }

            return ret;
        }

    </script>

{% endblock %}
