{% extends 'headmenu.html' %}

{% block rfs_content %}
    {% load static %}
    <style>
        .helper-divs{
            display:none;
        }
    </style>
    <script>
        multperson = [];
        persons = {{persons|safe|escape}};
        weekStart = startOfWeek(new Date());
        //weekStart.setDate(weekStart.getDate() - 1);
        v_numofweeks = 0;
        fixedCols = 7;
        prevHrsValue = null; //used when hrs are changed. holds value of input hrs before change
        ajaxWIP = 0; //not used
        updatePlannedHrsQ = []; //this q will be sent as ajax to get planned hrs for all people or newly added people
        log_enabled = false;
        capacity = []

        function addWeeks(n){

            headcolcount = $("#loadTable")[0].rows[0].cells.length;
            weekcols = headcolcount - fixedCols;
            if ($.fn.DataTable.isDataTable($("#loadTable"))) $("#loadTable").DataTable().destroy();
            for(i=0; i<n; i++){
                pos = $("#loadTable").find("tr:first th").length-1; // gives last position to add column
                tmpweekstart=new Date(weekStart.getTime());
                //tmpweekstart.setDate(tmpweekstart.getDate() - 1); as weekStart is updated
                weekstartdt = formatDate( tmpweekstart.setDate(tmpweekstart.getDate()+(weekcols+i)*7) );
                humandate = formatDateHuman( tmpweekstart );
                $('#loadTable').find('tr').each(function(a,b){ //for each row, adds column at last
                    var vnid = this.id;
                    $(this).find('th').eq(pos).after('<th nowrap style="font-size:x-small;text-align:center;">' + humandate +'</th>');
                    if(vnid.length){
                        var td_name = "f_week_hrs_"+vnid+"_"+weekstartdt;
                        //var controls = "<div><span style='cursor: pointer;' onclick='sp(this);'> L </span><span style='cursor: pointer;' onclick='sp(this);'> R </span><span style='cursor: pointer;' onclick='sp(this);'> U </span><span style='cursor: pointer;' onclick='sp(this);'> D </span> <span onclick='availability(this, event);'> info </span></div>";
                        {% if editable %}
                            var controls = "<div class='controls'><span style='cursor: pointer;' onclick='sp(this);'> L </span><span style='cursor: pointer;' onclick='sp(this);'> R </span><span onclick='availability(this, event);'> info </span></div>";
                            $(this).find('td').eq(pos).after("<td style='font-size:x-small'><input onfocus='setPrev(this)' onchange='changeInput(this)' type='text' name='"+td_name+"'  id='"+td_name+"' size=5><span name='f_week_planned_hrs_" + vnid + "_" + weekstartdt +"' id='f_week_planned_hrs_" + vnid + "_" + weekstartdt +"'>[...]</span>"+controls+"</td>");
                        {% else %}
                            var controls = "<div class='controls'><span></span><span></span><span onclick='availability(this, event);'> info </span></div>";
                            $(this).find('td').eq(pos).after("<td style='font-size:x-small'><span name='"+td_name+"' id='"+td_name+"'></span>&nbsp;<span name='f_week_planned_hrs_" + vnid + "_" + weekstartdt +"' id='f_week_planned_hrs_" + vnid + "_" + weekstartdt +"'>[...]</span>"+controls+"</td>");
                        {% endif %}
                        //updatePlannedHrs(vnid, weekstartdt);
                        updatePlannedHrsQ.push({'vnid':vnid, 'weekstartdt': weekstartdt});
                    }
                });
            }
            if ($.fn.DataTable.isDataTable($("#loadTable"))) ("#loadTable").DataTable({
                searching: false, paging: false, info: false,
                "language": {
                      "emptyTable": "Resource Loading Data"
                    }
            });
            exec_updatePlannedHrsQ();
            //$("input[name^='f_week_hrs_']").change(changeInput);
            //$("input[name^='f_week_hrs_']").blur(changeInput);
            //$("input[name^='f_week_hrs_']").focus(setPrev);
        }

        function deleteWeeks(n){
            for(i=0; i<n; i++){
                pos = $("#loadTable").find("tr:first th").length;
                if(pos < (fixedCols + 1)) return;
                if ($.fn.DataTable.isDataTable($("#loadTable"))) $("#loadTable").DataTable().destroy();
                $('#loadTable th:nth-child('+pos+'),#loadTable td:nth-child('+pos+')').remove();
                ("#loadTable").DataTable({
                searching: false, paging: false, info: false,
                "language": {
                      "emptyTable": "Resource Loading Data"
                    }
            });
            }
        }


    function manageWeeks(){

        let v_numofweeks_changed_to = $("#replyNumber").val();
        diff = v_numofweeks_changed_to - v_numofweeks;

        if(diff > 0){
            console_log("add " + diff + " new columns");
            addWeeks(diff);
        }
        else if (diff < 0){
            console_log("delete " + diff*(-1) + " columns");
            deleteWeeks(diff*(-1));
        }
        else {
            alert("How did this happen?!?");
        }

        v_numofweeks = v_numofweeks_changed_to;

        refreshCosts(multperson);

    }

    function exec_updatePlannedHrsQ(){
        l = updatePlannedHrsQ.length;
        if (l){
            $.ajax({
              url: "/rfs/request-for-service/persons/weeks",
              type: "post", //send it through get method
              data: {'data':JSON.stringify(updatePlannedHrsQ)},
              headers: {'X-CSRFToken': '{{csrf_token}}'},
              beforeSend:function(jQxhr){
                jQxhr.updatePlannedHrsQ=JSON.parse(JSON.stringify(updatePlannedHrsQ));
              },
              success: function(response, statusText,jQxhr) {
                console_log("success");
                try {
                    if(response.capacity.length){
                            response.capacity.forEach(function(data){
                                if(data.length)
                                    capacity.push(data);
                            });
                    }
                    if(response.data.length){
                        jQxhr.updatePlannedHrsQ.forEach(function(rec){
                            $('span[name^="f_week_planned_hrs_'+rec.vnid+'_'+rec.weekstartdt+'"]')[0].innerHTML="[" + 0 + "]";
                        });
                        response.data.forEach(function(data){
                            var planned_name = "f_week_planned_hrs_"+ data.summary.vnid + '_' + data.summary.week;
                            var name = "f_week_hrs_"+ data.summary.vnid + '_' + data.summary.week;
                            total_hrs = data.summary.total_hrs;
                            data.data.forEach(function(v){
                                if(v.rfs_request_id == rfs_request_id) {
                                    total_hrs = total_hrs - v.hrs;
                                    return;
                                }
                            });
                            $('span[name="'+planned_name+'"]')[0].innerHTML = "[" + total_hrs + "]";
                            try{
                                sum = parseFloat(total_hrs) + parseFloat($("[name='"+name+"']")[0].value);
                                console_log(sum);
                                current_capacity = 999999;
                                capacity.forEach(function(c){
                                    console_log(c[0]);
                                    if(c[0].vnid == data.summary.vnid && c[0].week == data.summary.week){
                                        current_capacity = c[0].hrs;
                                        return;
                                    }
                                });
                                if(sum > current_capacity){
                                    $("[name='"+name+"']").parent().attr("bgcolor","#FFA889");
                                }
                            }
                            catch(e){console_log("Error setting colors:"); console_log(e);}

                        });
                    }
                    else{
                        $('span[name^="f_week_planned_hrs_"]').each(function(i,rec){
                            if(rec.innerHTML.length==0 || rec.innerHTML == '[...]')
                                rec.innerHTML = "[" + 0 + "]";
                        });
                    }

                }
                catch(e){
                    console_log(e);
                }
              },
              error: function(response) {
                console_log(response);
              }
            });
        }
        updatePlannedHrsQ.length = 0;

        /*for(i=0; i<-1; i++){
            setTimeout(function(){
                req = updatePlannedHrsQ.pop();
                console_log(req);
                updatePlannedHrs(req.vnid, req.weekstartdt);
            }, i+20);

        }*/
    }

    function updatePlannedHrs(vnid, week){
    {% if rfs_request_data.rfs_status != 'APPROVED' %} //not needed for approved RFSs
        console_log(week);
         data = {
                    'vnid': vnid,
                    'week': week
        };

        $.ajax({
          url: "/rfs/request-for-service/person/week",
          type: "get", //send it through get method
          data: data,
          success: function(response) {
            console_log("success");
            try {
                if(response.success == "True"){
                    let planned_name = "f_week_planned_hrs_"+ response.summary.vnid + '_' + response.summary.week;
                    let name = "f_week_hrs_"+ response.summary.vnid + '_' + response.summary.week;
                    total_hrs = response.summary.total_hrs;
                    response.data.forEach(function(v){
                        if(v.rfs_request_id == rfs_request_id) {
                            total_hrs = total_hrs - v.hrs;
                            return;
                        }
                    });
                    $('span[name="'+planned_name+'"]')[0].innerHTML = "[" + response.summary.total_hrs + "]";
                    try{
                        sum = total_hrs + parseFloat($("[name='"+name+"']")[0].value);
                        console_log(sum);
                        if(sum > 40){
                            $("[name='"+name+"']").parent().attr("bgcolor","#FFA889");
                        }
                    }
                    catch(e){console_log("Error setting colors:"); console_log(e);}
                }
                else{
                }
            }
            catch(e){
            }
          },
          error: function(response) {
            console_log(response);
          }
        });
    {% endif %}
    }

    function startOfWeek(date){

        var diff = date.getDate() - date.getDay() + (date.getDay() === 0 ? -6 : 1);
        dt = new Date(date.setDate(diff));
        dt.setDate(dt.getDate() - 1);
        return dt;

    }

    function setWeekStart(){

        if( ! isNaN(Date.parse(new Date($('#weekstart').val()))) ){ //only if date UI field has valid date
            weekStart =  new Date($('#weekstart').val().replace(/-/g,"/"));
        }
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    function formatDateHuman(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day,  months[d.getMonth()], d.getFullYear()%100].join('-');
    }

    function sp(ob,clicked){
        console_log("Spreading...");
        if(typeof clicked == 'undefined')
            var clicked = ob.innerHTML.trim();
        var vnid = $(ob).parent().parent().parent()[0].id;
        var val_to_copy = $(ob).parent().prev().prev().val();

        if(clicked == 'R'){
            var row_objs = $( "input[name*='"+vnid+"']");
            var clicked_dtstamp = $(ob).parent().prev().prev()[0].name.split('_')[4].replace(/-/g, "");

            $(row_objs).each(function(idx,v){
                thisdt_stamp = v.name.split('_')[4].replace(/-/g, "");
                if(thisdt_stamp > clicked_dtstamp){
                    setPrev({'value':$(v).val()});
                    $(v).val(val_to_copy);
                    console_log("Copying to...");console_log(thisdt_stamp);
                    changeInput(v);
                }
            });


        }
        if(clicked == 'L'){
            console_log('Left');
            var row_objs = $( "input[name*='"+vnid+"']");
            var clicked_dtstamp = $(ob).parent().prev().prev()[0].name.split('_')[4].replace(/-/g, "");

            $(row_objs).each(function(idx,v){
                thisdt_stamp = v.name.split('_')[4].replace(/-/g, "");
                if(thisdt_stamp < clicked_dtstamp){
                    setPrev({'value':$(v).val()})
                    $(v).val(val_to_copy);
                    console_log("Copying to...");console_log(thisdt_stamp);
                    changeInput(v);
                }
            });
        }
        if(clicked == 'U'){
            console_log('Up');
            var clicked_dtstamp = $(ob).parent().prev().prev()[0].name.split('_')[4];
            var col_objs = $( "input[name*='"+clicked_dtstamp+"']");
            var found = 0;
            $(col_objs).each(function(idx,v){
                this_vnid = $(v).parent().parent()[0].id;

                if(this_vnid == vnid){
                    found = 1
                }
                if(!found){
                    $(v).val(val_to_copy);
                    $(v).change();
                }
            });
        }

        if(clicked == 'D'){
            console_log('Down');
            var clicked_dtstamp = $(ob).parent().prev().prev()[0].name.split('_')[4];
            var col_objs = $( "input[name*='"+clicked_dtstamp+"']");
            var found = 0;
            $(col_objs).each(function(idx,v){
                this_vnid = $(v).parent().parent()[0].id;

                if(this_vnid == vnid){
                    found = 1
                }
                if(found){
                    $(v).val(val_to_copy);
                    $(v).change();
                }
            });

        }
        //refreshCosts(multperson);

    }

    function calculateCosts(){

    }

    function availability(ob, event){
    console_log(event.clientX); console_log(event.clientY);
    var top = event.clientY;
    var left = event.clientX
    {% if rfs_request_data.rfs_status != 'APPROVED' %} //Do not need planning hrs for approved rfs
        data = {
                    'vnid': $(ob).parent().parent().parent()[0].id,
                    'week': $(ob).parent().prev().prev()[0].id.split('_')[4]
        };
        $("#availability_info").css("position:fixed;font-size:small;display:none;");
        // $("#availability_info").css({left: $(ob).offset().left, top: $(ob).offset().top+5});
        $("#availability_info").css({left: left, top: top+5});
        $.ajax({
          url: "/rfs/request-for-service/person/week",
          type: "get", //send it through get method
          data: data,
          success: function(response) {
            console_log("success");
            document.getElementById("availability_info").innerHTML = "";

            try {
                let tbl_open = "<table class='rbstable'>";
                    let tr1 = "<tr><td colspan='2' style='text-aling:right;background-color:black;color:white;'";
                    tr1 = tr1 + "onclick=\"$('#availability_info').hide();\">X</td></tr>";

                    current_capacity = 'Not Set.';
                    title = ''
                    capacity.forEach(function(c){
                        if(c[0].vnid == response.summary.vnid && c[0].week == response.summary.week){
                            current_capacity = c[0].hrs;
                            title = c[0].notes;
                            return;
                        }
                    });

                    let tr2 = "<tr><td style='text-aling:right;background-color:blue;color:white;'>Capacity</td>";
                    tr2 = tr2 + "<td style='text-aling:right;background-color:blue;color:white;'> " + current_capacity + "</td>";
                    let tr3 = ''
                    if(title.length){
                        tr3 = "<tr><td colspan='2' style='text-aling:right;background-color:blue;color:white;'>" + title + "</td></tr>";
                    }
                if(response.success == "True"){
                    let total_hrs = response.summary.total_hrs;
                    response.data.forEach(function(v){
                        if(v.rfs_request_id == rfs_request_id) {
                            total_hrs = total_hrs - v.hrs;
                            return;
                        }
                    });
                    let tr_summary = "<tr><td>Total Hrs.</td><td>" + total_hrs + "</td><tr>";
                    let tr_detail = ""
                    for(i=0; i<response.data.length; i++){
                        if(response.data[i].rfs_request_id != rfs_request_id){ //skipping current rfs
                            tr_detail = tr_detail + "<tr><td><a href='/rfs/request-for-service/resource-loading?rfs_request_id=" + response.data[i].link + "' target='blank'>" + response.data[i].project_id + "</a></td><td>" + response.data[i].hrs + "</td><tr>";
                        }
                    }
                    let tbl_close = "</table>";
                    $("#availability_info").append(tbl_open + tr1 + tr2 + tr3 + tr_summary + tr_detail + tbl_close)

                    $("#availability_info").show();
                }
                else{
                    $("#availability_info").append("<tr><td colspan='2'>Some Error in getting data.</td>");
                }
            }
            catch(e){
                $("#availability_info").append("Some Error in getting data");
            }

          },
          error: function(response) {
            alert("Some Error.");
            console_log(response);
          }
        });
    {% endif %}
    }


    function setMargins() {

        width = $(window).width();
        $(".contentnav").width(width*.8);
        containerWidth = $(".contentnav").width();
        leftMargin = (width-containerWidth)/2;
        offset = $(".contentnav").position().left;
        $(".contentnav").css("marginLeft", leftMargin - offset);
    }

    </script>

    <script>

        $(document).ready(function() {

            $('#teamtable').DataTable({
                paging: false,
                scrollY: 400,
                fixedHeader: false,
                "sScrollX": "100%",
                "bScrollCollapse": true,
                order: [[1, 'asc']]
            });

            $('.select').selectpicker();
            try {
                datestring = weekStart.getFullYear() + "-" +("0" + (weekStart.getMonth()+1)).slice(-2) + "-" + ("0"+(weekStart.getDate())).slice(-2);
                $('#weekstart').val(datestring)
            }
            catch(e) {}

            /* ******************************************* PRE POPULATE start *********************************************
               ******************************************* PRE POPULATE *********************************************
               ******************************************* PRE POPULATE *********************************************
            */


            {% for row in static_tbl %}
                multperson.push('{{row.person_id}}');
                    var value = '{{row.person_id}}';
                    var record = {};
                    record.first_name = '{{row.name}}';
                    record.domain_name = '{{row.domain_name}}';
                    record.role = '{{row.role}}';
                    record.rate = '{{row.rate}}';
                    record.loc = '{{row.loc}}';

                    markuptropen = "<tr id='"+value+"'>"
                    markupTDData = "<td><input type='hidden' name='f_vnid' value='"+value+"'>"+record.first_name+"</td><td>"+record.loc+"</td><td>"+record.domain_name+"</td><td>"+record.role+"</td><td id='rate_"+value+"'>"+record.rate+"</td><td><span id='total_hrs_"+value+"'></span></td><td><span id='qa_cost_"+value+"'></span></td>";
                    //var controls = "<div><span style='cursor: pointer;' onclick='sp(this);'> L </span><span style='cursor: pointer;' onclick='sp(this);'> R </span><span style='cursor: pointer;' onclick='sp(this);'> U </span><span style='cursor: pointer;' onclick='sp(this);'> D </span><span onclick='availability(this, event);'> info </span></div>";
                    var controls = "<div class='controls'><span style='cursor: pointer;' onclick='sp(this);'> L </span><span style='cursor: pointer;' onclick='sp(this);'> R </span><span onclick='availability(this, event);'> info </span></div>";
                    console_log(markupTDData);
                    markupExtraTd = '';
                    markuptrclose= "</tr>";
                    markup = markuptropen + markupTDData + markupExtraTd + markuptrclose;
                    $("#loadTable tbody").append(markup);
            {% endfor %}

            {% if datahead.weekstart|length == 10 %}
                var ws = '{{datahead.weekstart}}';
                weekStart = new Date(ws.split('-')[0], (ws.split('-')[1]-1), ws.split('-')[2]);
                $("#weekstart").val(ws);
            {% endif %}

            {% if datahead.numofweeks %}
                addWeeks({{datahead.numofweeks}});
            {% endif %}

            {% for row in datadetails %}
                hrs = "{{row.hrs}}";
                if (hrs == "None") hrs = "";
                {% if editable %}
                    $("input[name='f_week_hrs_{{row.person_id}}_{{row.week}}']").val(hrs);
                {% else %}
                    $("span[name='f_week_hrs_{{row.person_id}}_{{row.week}}']")[0].innerHTML = hrs;
                {% endif %}

            {% endfor %}

            $('#resSelect').selectpicker('val', multperson);
            $('#resSelect').selectpicker('refresh');
            v_numofweeks = '{{datahead.numofweeks}}';

            refreshCosts(multperson);



            /* ******************************************* PRE POPULATE ends *********************************************
               ******************************************* PRE POPULATE *********************************************
               ******************************************* PRE POPULATE *********************************************
            */

            $('.selectpicker').on('hide.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                console_log("Hiding now");
                $('#resSelect option:selected').prependTo('#resSelect');
                $(this).selectpicker('refresh');
            });

            /* BELOW IS FOR ADD/REM person */
            $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {

              currentVal=$('.selectpicker').val();
                if ($.fn.DataTable.isDataTable($("#loadTable"))) $("#loadTable").DataTable().destroy();
                if(currentVal.length - previousValue.length > 0){
                    // Add difference
                    diff = $(currentVal).not(previousValue).get();
                    headcolcount = $("#loadTable")[0].rows[0].cells.length;
                    extracoltoadd = headcolcount - fixedCols;

                    $.each(diff, function( index, value ) {
                        record = {};
                        $.each(persons, function( pidx, pvalue ) {
                            console_log("iterating over " + pvalue.vnid );
                            if(pvalue.vnid == value){
                                record = pvalue;
                                return false;
                            }
                        });
                        console_log(" Found record "); console_log(record);
                        markuptropen = "<tr id='"+value+"'>"
                        markupTDData = "<td><input type='hidden' name='f_vnid' value='"+value+"'>"+record.first_name+"</td><td>"+record.loc+"</td><td>"+record.domain_name+"</td><td>"+record.role+"</td><td id='rate_"+value+"'>"+record.rate+"</td><td><span id='total_hrs_"+value+"'></span></td><td><span id='qa_cost_"+value+"'></span></td>";
                        //var controls = "<div><span style='cursor: pointer;' onclick='sp(this);'> L </span><span style='cursor: pointer;' onclick='sp(this);'> R </span><span style='cursor: pointer;' onclick='sp(this);'> U </span><span style='cursor: pointer;' onclick='sp(this);'> D </span><span onclick='availability(this, event);'> info </span></div>";
                        var controls = "<div class='controls'><span style='cursor: pointer;' onclick='sp(this);'> L </span><span style='cursor: pointer;' onclick='sp(this);'> R </span><span onclick='availability(this, event);'> info </span></div>";
                        console_log(markupTDData);
                        markupExtraTd = '';
                        for(i = 0; i < extracoltoadd; i++){
                            //headdate = $("#loadTable")[0].rows[0].cells[fixedCols+i].innerHTML;
                            if (typeof $("#loadTable")[0].rows[0].cells[fixedCols+i].children[0] == 'undefined'){ //when no datatable options like sorting etc
                                headdate = $("#loadTable")[0].rows[0].cells[fixedCols+i].innerHTML;
                            }
                            else{
                                headdate = $("#loadTable")[0].rows[0].cells[fixedCols+i].children[0].firstChild.nodeValue;
                            }
                            headdate = formatDate(new Date(2000+parseInt(headdate.split('-')[2]),months.indexOf(headdate.split('-')[1]),headdate.split('-')[0]));
                            markupExtraTd = markupExtraTd + "<td style='font-size:x-small'><input onfocus='setPrev(this)' onchange='changeInput(this)' type='text' size=5 name='f_week_hrs_"+value+"_"+headdate+"' id='f_week_hrs_"+value+"_"+headdate+"'><span name='f_week_planned_hrs_"+value+"_"+headdate+"' id='f_week_planned_hrs_"+value+"_"+headdate+"'></span>"+controls+"</td>";
                        }
                        markuptrclose= "</tr>";
                        markup = markuptropen + markupTDData + markupExtraTd + markuptrclose;
                        $("#loadTable tbody").append(markup);
                        multperson.push(value);
                        for(i = 0; i < extracoltoadd; i++){ //update planned hours for newly added columns for vnid value
                            //headdate = $("#loadTable")[0].rows[0].cells[fixedCols+i].innerHTML;
                            if (typeof $("#loadTable")[0].rows[0].cells[fixedCols+i].children[0] == 'undefined'){
                                headdate = $("#loadTable")[0].rows[0].cells[fixedCols+i].innerHTML;
                            }
                            else{
                                headdate = $("#loadTable")[0].rows[0].cells[fixedCols+i].children[0].firstChild.nodeValue;
                            }
                            headdate = formatDate(new Date(2000+parseInt(headdate.split('-')[2]),months.indexOf(headdate.split('-')[1]),headdate.split('-')[0]));
                            //updatePlannedHrs(value, headdate);
                            updatePlannedHrsQ.push({'vnid':value, 'weekstartdt': headdate});
                        }
                        //$("input[name^='f_week_hrs_']").change(changeInput);
                        //$("input[name^='f_week_hrs_']").blur(changeInput);
                        //$("input[name^='f_week_hrs_']").focus(setPrev);
                        exec_updatePlannedHrsQ();
                    });
                }
                else if(currentVal.length - previousValue.length < 0){
                    // Remove difference
                    diff = $(previousValue).not(currentVal).get();

                    $.each(diff, function( index, value ) {

                        $('#loadTable > tbody  > tr').each(function(index,tr){
                            console_log(index); console_log(tr); console_log(this.id);
                            if(value == this.id){
                                $(this).remove();
                                multperson = multperson.filter(function(e) { return e !== value });
                                refreshCosts(multperson);
                            }
                        });

                    });
                }
                else {
                    console_log("I DONT KNOW.. prev.. curr");
                    console_log(previousValue);colsole.log(currentVal);
                }
                ("#loadTable").DataTable({
                searching: false, paging: false, info: false,
                "language": {
                      "emptyTable": "Resource Loading Data"
                    }
            });
            });
            exec_updatePlannedHrsQ();
            //$("input[name^='f_week_hrs_']").change(changeInput);
            //$("input[name^='f_week_hrs_']").blur(changeInput);
            //$("input[name^='f_week_hrs_']").focus(setPrev);
            $('#resSelect option:selected').prependTo('#resSelect');
            $('#resSelect').selectpicker('refresh');
            // $('#loadTable').stickyTable();
            $("#loadTable").dataTable({
                searching: false, paging: false, info: false,
                "language": {
                      "emptyTable": "Resource Loading Data"
                    }
            });

            formChanged = false;
            setMargins();
            $(window).resize(function() {
                setMargins();
            });

            $(".controls").each(function(idx, el){
                el.parentNode.insertBefore((function(innerHTML) {
                  var newDiv = document.createElement("div");
                  newDiv.innerHTML = innerHTML;
                  newDiv.className = "helper-divs";
                  return newDiv;
                })("This is my div."), el.nextSibling);
            });


        } );



    </script>

    <script>
        function changeInput(ob){
                if(typeof ob == 'undefined') ob = this;
                console_log(ob);
                vnid = ob.name.split("_")[3];
                set_total_qa(vnid,cal_total_qa(vnid));
                set_qa_cost(vnid,cal_qa_cost(vnid));

                let currentHead = $("#headQAHrs").prop("innerHTML");
                if (isNaNBetter(currentHead)) currentHead = 0; else currentHead = parseFloat(currentHead);
                if (prevHrsValue == null) prevHrsValue = ob.value;
                let currentPrevHrs = prevHrsValue;
                if (isNaNBetter(currentPrevHrs)) currentPrevHrs = 0; else currentPrevHrs = parseFloat(currentPrevHrs);
                let currentNow = ob.value;
                if (isNaNBetter(currentNow)) currentNow = 0; else currentNow = parseFloat(currentNow);
                let newHead = currentHead + (currentNow - currentPrevHrs);
                if (isNaNBetter(newHead)) newHead = 0;
                newHead = (Math.round(newHead * 100) / 100).toFixed(2)
                $("#headQAHrs").prop("innerHTML",newHead.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));

                currentHead = $("#headQACost").prop("innerHTML").replace('$','').replaceAll(',','');
                if (isNaNBetter(currentHead)) currentHead = 0; else currentHead = parseFloat(currentHead);
                let rate =   parseFloat($("#rate_"+vnid).prop("innerHTML"));
                if (isNaNBetter(rate)) rate = 0;
                let newHeadCost = currentHead + (currentNow - currentPrevHrs)*rate;
                newHeadCost = (Math.round(newHeadCost * 100) / 100).toFixed(2)
                if (!isNaNBetter(newHeadCost))
                    $("#headQACost").prop("innerHTML","$" + newHeadCost.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
                //refreshCosts(multperson, true)
                try{
                    sum = parseFloat($("[name='f_week_planned_hrs_"+ ob.name.replace('f_week_hrs_','') +"']")[0].innerHTML.replace("[","").replace("]","")) + parseFloat($("[name='"+ob.name+"']")[0].value);
                    console_log(sum);

                    current_capacity = 999999;
                    capacity.forEach(function(c){
                        if(c[0].vnid == vnid && c[0].week == ob.name.replace('f_week_hrs_'+vnid+'_','')){
                            current_capacity = c[0].hrs;
                            return;
                        }
                    });

                    if(sum > current_capacity && parseFloat($("[name='"+ob.name+"']")[0].value) > 0){
                        $("[name='"+ob.name+"']").parent().attr("bgcolor","#FFA889");
                    }
                    else{
                        $("[name='"+ob.name+"']").parent().attr("bgcolor","");
                    }
                }
                catch(e){console_log("Error setting colors:"); console_log(e);}
                try{
                    Event.stopPropagation();
                }catch(e){}
        }

        function setPrev(ob){
            if(ob.type == 'focus')
                ob = this
            prevHrsValue = ob.value;
            if (prevHrsValue == null) prevHrsValue = 0;
            console_log(prevHrsValue);
        }

        function isNaNBetter(v){

            if (v==null || v.length == 0) v='NaN';
            return isNaN(v);
        }

        function cal_total_qa(vnid){
            var total_qa=0;
            {% if editable %}

                $("input[name^='f_week_hrs_"+vnid+"']").each(function(idx,val){
                    if(!isNaN(parseFloat(this.value))){
                        total_qa=parseFloat(total_qa)+parseFloat(this.value);
                    }
                });
            {% else %}
                $("span[id^='f_week_hrs_"+vnid+"']").each(function(idx,val){
                    if(!isNaN(parseFloat(this.innerHTML))){
                        total_qa=parseFloat(total_qa)+parseFloat(this.innerHTML);
                    }
                });
            {% endif %}

            return total_qa;
        }

        function set_total_qa(vnid,hrs){
            $("#total_hrs_"+vnid).prop("innerHTML",hrs);
        }

        function cal_qa_cost(vnid){
            var qa_cost=0;
            var total_hrs = 0;
            var rate = 0;

            total_hrs =  parseFloat($("#total_hrs_"+vnid).prop("innerHTML"));
            rate =   parseFloat($("#rate_"+vnid).prop("innerHTML"));

            qa_cost = parseFloat(total_hrs * rate);
            qa_cost = (Math.round(qa_cost * 100) / 100).toFixed(2)
            if(isNaN(qa_cost)){
                qa_cost = 0;
            }

            return qa_cost;
        }

        function set_qa_cost(vnid,cost){
            $("#qa_cost_"+vnid).prop("innerHTML",cost.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
        }

        function refreshCosts(arrayOfVNIDs, skipRowTotals=false){
            var headQAHrs = 0;
            var headQACost = 0;
            console_log("Refreshing");

            //refresh row totals
            if (!skipRowTotals){
                for(i=0; i<arrayOfVNIDs.length;i++){
                    set_total_qa(arrayOfVNIDs[i],cal_total_qa(arrayOfVNIDs[i]));
                    set_qa_cost(arrayOfVNIDs[i],cal_qa_cost(arrayOfVNIDs[i]));
                }
            }

            //refresh head totals
            $("[id^='total_hrs_']").each(function(){
                if(!isNaN(parseFloat(this.innerHTML)))
                    headQAHrs = parseFloat(headQAHrs) + parseFloat(this.innerHTML);
                    headQAHrs = (Math.round(headQAHrs * 100) / 100).toFixed(2);
            });

            $("[id^='qa_cost_']").each(function(){
                ct = parseFloat(this.innerHTML.replace(/,/g,""));
                if(!isNaN(ct))
                    headQACost = parseFloat(headQACost) + parseFloat(ct);
                    headQACost = (Math.round(headQACost * 100) / 100).toFixed(2);
            });

            $("#headQAHrs").prop("innerHTML",headQAHrs.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
            $("#headQACost").prop("innerHTML","$" + headQACost.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));

            {% if rfs_request_data.rfs_status == 'APPROVED' %}
                $("input[name^='f_week_hrs_']").attr("disabled","disabled");
                $("span[name^='f_week_planned_hrs_']").hide();
                $(".controls").hide();
                $(".selectpickerspan").hide()

            {% endif %}
        }

        function console_log(o){
            if (log_enabled) console_log(o);
        }

        function remove_from_start(){
            var table = document.getElementById("loadTable");
            if ($.fn.DataTable.isDataTable($("#loadTable"))) $("#loadTable").DataTable().destroy();
            if(table.rows[0].cells.length == fixedCols) {
                ("#loadTable").DataTable({
                searching: false, paging: false, info: false,
                "language": {
                      "emptyTable": "Resource Loading Data"
                    }
            });
                return false;
            }
            for (let i = 0; i < table.rows.length; i++) {
                table.rows[i].deleteCell(fixedCols);
            }
            weekStart.setDate(weekStart.getDate()+7);
            $("#weekstart").val(formatDate(weekStart));
            $("#replyNumber").val($("#replyNumber").val()-1);
            v_numofweeks = v_numofweeks - 1;
            refreshCosts(multperson);
            formChanged = true;
            ("#loadTable").DataTable({
                searching: false, paging: false, info: false,
                "language": {
                      "emptyTable": "Resource Loading Data"
                    }
            });
            return false;
        }

        function shift_right(){
            try{
            weekStart.setDate(weekStart.getDate()+7);
            $("#weekstart").val(formatDate(weekStart));
            if ($.fn.DataTable.isDataTable($("#loadTable"))) $("#loadTable").DataTable().destroy();
            tbl_len = $("#loadTable")[0].rows[0].cells.length - fixedCols;
            for(var i=tbl_len-1; i>=0; i--){
                let current_val = $("#loadTable")[0].rows[0].cells[7+i].innerHTML;
                let dateString = current_val;
                let dateParts = dateString.split("-");
                let year = 2000 + parseInt(dateParts[2]); // assuming year is 2 digits
                let monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                ];
                let month = monthNames.indexOf(dateParts[1]);
                let day = parseInt(dateParts[0]);
                next_val = new Date(year, month, day);
                next_val.setDate(next_val.getDate()+7);
                next_val = `${next_val.getDate()}-${monthNames[next_val.getMonth()]}-${next_val.getFullYear().toString().substr(-2)}`;
                $("#loadTable")[0].rows[0].cells[7+i].innerHTML = next_val;
                $("[name$='" + formatDate(current_val) + "']").each(function(el,e){
                    str_to_replace = e.getAttribute("name").split('_')[e.getAttribute("name").split('_').length - 1];
                    if(e.getAttribute("id"))
                        e.setAttribute("id", e.getAttribute("id").replace(str_to_replace, formatDate(next_val)));
                    e.setAttribute("name", e.getAttribute("name").replace(str_to_replace, formatDate(next_val)));
                });
            }
            ("#loadTable").DataTable({
                searching: false, paging: false, info: false,
                "language": {
                      "emptyTable": "Resource Loading Data"
                    }
            });
            formChanged = true;
            }
            catch(e){
                return false;
            }
            return false;
        }


    </script>

    <script>

        $(document).on('destroy.dt', function (e, settings) {
            var sortIcon = $(settings.nTable.tHead).find('.DataTables_sort_icon');
            sortIcon.unwrap();
            sortIcon.remove();
        });

        function printSelectedItems() {
          var selectedValues = [];
          $("#resSelect :selected").each(function() {
            selectedValues.push($(this).val());
          });
          alert(selectedValues);
        };

        $(document).ready(function(){
            var $menu = $('#resSelect').data('selectpicker').$menu,
            $options = $('#resSelect').find('option');

            // Allow jQueryUI sortable on the selected items to define order
            $menu.sortable({
              items: ".selected",
              beforeStop: function(event, ui) {
                updateOptions();
                alert('Selected items onBeforeStop of sortable');
                printSelectedItems();
                //$('#mySelect').selectpicker('refresh');
              }
            });
        });

        // Function to update select based on BootstrapSelect <li>
        function updateOptions() {
          var optionArray = [];
          $menu.find('li').each(function(i, el) {
            optionArray.push($options.eq($(el).data('originalIndex')));
          });
          $('#resSelect').append(optionArray);
        }

        var intrvl;
        function scrollSheet(direction){
            duration = 100;
            //$(".arrows").css("opacity","50%");
            if(direction == 'L'){
                intrvl = setInterval(function(){
                $(".contentnav").scrollLeft($(".contentnav").scrollLeft()-25);
                }, duration);
            }
            if(direction == 'R'){
                intrvl = setInterval(function(){
                $(".contentnav").scrollLeft($(".contentnav").scrollLeft()+25);
                }, duration);
            }
            if(direction == 'U'){
                intrvl = setInterval(function(){
                    $(window).scrollTop($(window).scrollTop()-25);
                }, duration);
            }
            if(direction == 'D'){
                intrvl = setInterval(function(){
                    $(window).scrollTop($(window).scrollTop()+25);
                }, duration);
            }
        }


    </script>



    <style>
        .arrows {
            opacity:10%;
        }
    </style>


    <div class="contentnav overflow-auto" style="min-height:400px;max-height:600px;">
        <form name="initRFS" id="initRFS" method="post" action="./resource-loading">
        {% csrf_token %}
        <input type="hidden" name="rfs_request_id" value="{{rfs_request_data.link}}">
        <input type="hidden" value="" name="rfs_status" id="rfs_status">
        <input type="hidden" value="" name="rfs_status_comment" id="rfs_status_comment">
        {% if editable %}
            <span class="selectpickerspan">
                <select name="resources" id="resSelect" class="selectpicker" multiple data-live-search="true" data-actions-box="true" >
                    {% for row in persons %}
                        <option value="{{row.vnid}}" data-tokens="{{row.vnid}},{{row.domain_name}},{{row.role}}">{{row.first_name}} {{row.last_name}}</option>
                    {% endfor   %}
                </select>
            </span>
            <span class="selectpickerspan">Week Start <input type="date" name="weekstart" id="weekstart" onchange="setWeekStart()" value="{{datahead.weekstart}}"></span>
            <span class="selectpickerspan"># of weeks <input type="number" style="width:60px" onchange="manageWeeks()" value="{{datahead.numofweeks}}" onkeydown="return false" id="replyNumber" name="numofweeks"  min="0" max="104" data-bind="value:replyNumber" ></span>
            <span class="" style="font-size:small;"> <button class="greenbuttons" onclick="return remove_from_start()">Remove Week from Start</button> </span>
            <span class="" style="font-size:small;"> <button class="greenbuttons" onclick="return shift_right()">Shift Right</button> </span>

        {% endif %}

        <div>
            <table border="1" id="loadTable" class="rfstables rbstable">
                <thead>
                <tr>
                    <th style="max-width:150px; min-width:150px;font-size:small">Resource</th>
                    <th style="max-width:75px; min-width:75px;font-size:small">Location</th>
                    <th style="max-width:150px; min-width:150px;font-size:small">Domain</th>
                    <th style="max-width:150px; min-width:150px;font-size:small">Role</th>
                    <th style="max-width:100px; min-width:100px;font-size:small">Rate</th>
                    <th style="max-width:75px; min-width:75px;font-size:small">Total Hrs.</th>
                    <th style="max-width:75px; min-width:75px;font-size:small">QA $</th>
                </tr>
                </thead>
            <tbody>
            </tbody>
            </table>
            <span>
            <table class="rbstable">
                <tr>
                    <th>
                        <span>Total QA Hrs </span> <span id="headQAHrs"></span>
                    </th>
                    <th>
                        <span>Total QA Cost </span> <span id="headQACost"></span>
                    </th>
                </tr>
            </table>
        </span>
        </div>
        </form>
    </div>

    <div id="controls" style="left:600px;top:300px;position:fixed;display:none">
        <table>
            <tr><td></td><td onmouseover="scrollSheet('U');$('.up').css('opacity','50%');" onmouseout="clearInterval(intrvl);$('.arrows').css('opacity','10%');">
                <img class="arrows up" style="vertical-align: bottom;" src="{% static 'images/up.png' %}">
            </td><td></td></tr>
            <tr>
                <td onmouseover="scrollSheet('L');$('.left').css('opacity','50%');" onmouseout="clearInterval(intrvl);$('.arrows').css('opacity','10%');">
                    <img class="arrows left" style="vertical-align: center; " src="{% static 'images/left.png' %}">
                </td>
                <td></td>
                <td onmouseover="scrollSheet('R');$('.right').css('opacity','50%');" onmouseout="clearInterval(intrvl);$('.arrows').css('opacity','10%');">
                    <img class="arrows right" style="vertical-align: center;" src="{% static 'images/right.png' %}">
                </td>
            </tr>
            <tr><td></td><td onmouseover="scrollSheet('D');$('.down').css('opacity','50%');" onmouseout="clearInterval(intrvl);$('.arrows').css('opacity','10%');">
                <img class="arrows down" style="vertical-align: top;" src="{% static 'images/down.png' %}">
            </td><td></td></tr>
        </table>
    </div>

    <div id="availability_info" style="position:fixed;font-size:small;display:none;">
    </div>

    {% if editable %}
        <script>
          let dateInput = document.getElementById("weekstart");
          dateInput.addEventListener("input", function() {
            let selectedDate = new Date(dateInput.value);
            selectedDate.setDate(selectedDate.getDate() + 1);
            let ws = new Date();
            ws.setDate(selectedDate.getDate() - selectedDate.getDay());
            if (selectedDate.getDay() !== 0) {
              //alert("Please select a Sunday.");
              dateInput.value = formatDate(ws);
            }
          });
        </script>
    {% endif %}

{% endblock %}