{% extends 'base.html' %}
{% block content %}
    <div class="headernav" id="myHeader">
        <div class="row text-center">
            <span class="col-md-2"> <a href="#team"> Team </a></span>
            <span class="col-md-2"> <a href="#domains"> Domains </a></span>
            <span class="col-md-2"> <a href="#rates"> rates </a></span>
            <span class="col-md-2"> <a href="#locations"> Locations </a></span>
            <span class="col-md-2"> <a href="#rates"> Rates </a></span>
            <span class="col-md-2">  </span>
        </div>
    </div>

    <div class="contentnav overflow-auto">
        <table cellspacing="5" cellpadding="5"><tr><td><h3 id="rate">rate</h3></td><td><a href="../#rates">Back</a></td></tr></table>
        <form name="rateform" method="post" action="./">
            {% csrf_token %}
        <table id="ratetable" class="display rbstable">
            <tbody>
                {% for row in ratedata %}
                    <tr>
                        <td>Rate ID</td><td><input type="text" name="rate_id" value="{{row.rate_id}}" readonly maxlength="7" style="background-color:grey"></td>
                    </tr>
                    <tr>
                        <td>Rate</td><td><input type="number" name="rate" value="{{row.rate}}" maxlength="45" required></td>
                    </tr>
                     <tr>
                        <td>Category</td><td><input type="text" name="category" value="{{row.category}}" maxlength="45"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="greenbuttons" type="submit" name="save_button">Save</button>
                            {% if row.vnid != "" %}
                                <button class="greenbuttons" type="submit" name="del_button">Delete</button>
                            {% endif %}
                        </td>

                    </tr>
                 {% endfor   %}
            </tbody>
        </table>
        </form>


{% endblock %}